.list_players {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.list_players .card {
    width: 100%;
    padding: 8px;
}

.card {
    cursor: pointer;
}

.card-body {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.players-cards {
    max-width: 1200px;
    margin: 20px auto;
}
